<up-header></up-header>


<div id="container-root">
  <div class="container-part">
    <img ngSrc="{{playerImage}}" height="256" width="256" alt="player">
    <h1>{{name}}</h1>
  </div>
  <div class="container-part" id="container-mid">
    <team-field [team]="team"></team-field>
    <div id="canvases">
      <canvas #valueChart width="300px" height="300px"></canvas>
      <canvas #pointsChart width="300px" height="300px"></canvas>
    </div>
    <h1>{{value.toLocaleString("es-ES")}}</h1>
  </div>
  <div class="container-part">
    <div id="stats">
      <h1>Jornada {{lastStat.weekNumber}}</h1>
      <div class="stat">
        <h3>Puntos</h3>
        <h3>{{lastStat.totalPoints}}</h3>
      </div>
      <div class="stat">
        <h3>Puntos por saldo</h3>
        <h3>{{pointsByDolar}}</h3>
      </div>
    </div>
  </div>
</div>
