@use "../../base";

.stat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.75rem;

  * {
    margin: 0 1rem;
  }
}

.alinging-center {
  display: flex;
  flex-direction: column;
}


#canvases {
  display: flex;
  flex-direction: column;
}

.container-mid {
  width: 300px;
  align-self: center;
}

@media (max-width: 600px) {


}
