<div id="header">
  <div id="header-up" class="header-part">
    <h1 class="header-main" id="backpack" (click)="isMenuOpen = !isMenuOpen">Fantasy</h1>
    <div id="header-items" [class.open]="isMenuOpen">
      <h1 class="header-main header-opt" routerLink="/">Inicio</h1>
      <h1 class="header-main header-opt" routerLink="/matches">MATCHES</h1>
      <h1 class="header-main header-opt" routerLink="/players">players</h1>
      <h1 class="header-main header-opt" routerLink="/injuries">injuries</h1>
    </div>
  </div>
  <div id="header-separator"></div>
  <div id="header-down" class="header-part">
    <div id="header-teams" >
      <img class="header-team" *ngFor="let team of teams" src="{{team.badgeColor}}" alt="team"
           routerLink="/team/{{team.id}}"
      />
    </div>
  </div>
</div>
