<up-header></up-header>
<div id="container-root" style="align-items: center">
  <div class="container-part">
    <h2>Contact</h2>
    <h1>contact&#64;lestro.top</h1>
  </div>
  <div class="container-part">
    <h2>Or</h2>
  </div>
  <div class="container-part">
    <div id="send-message">
      <div class="input-label">
        <label for="subject">Subject</label>
        <input id="subject" type="text" name="subject">
      </div>
      <div class="input-label">
        <label for="text">Message</label>
        <input id="text" type="text" name="text" style="padding-bottom: 5rem">
      </div>
      <button class="success-button">SEND</button>
    </div>
  </div>
</div>
