@use "./base";

html, body {
  font: 100% #ff4b44;
  color: #11111f;
  scroll-behavior: smooth;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: Koulen, sans-serif;
  overflow-x: hidden;
  background-color: base.$base;
}

@font-face {
  font-family: Koulen;
  src: url('./assets/Koulen/Koulen-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal
}

div {
  margin: 0;
  padding: 0
}

a {
  text-decoration: none;
}
