@use "../../../../base";

#team-field {
  display: flex;
  flex-direction: row;
  background-color: base.$high;
  padding: 0.5rem 1rem;
  justify-content: space-between;
}

#team-name {
  margin: 0 1rem;
}

#team-logo {
  max-width: 55px;
  max-height: 55px;
  margin: 0;
}
