@use "../../../base";

.item-match {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.item-match > * {
  flex-shrink: 1;
  margin: 0;
  padding: 0;
}

#mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-end;
}

#mid > * {
  margin: 0;
  padding: 0;
  max-height: 3rem;
}

#date {
  align-self: flex-end;
}

a {
  text-decoration: none;
}


